<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowVersionChecking</key>
	<true/>
	<key>archiveEncodingFormat</key>
	<integer>0</integer>
	<key>archiveType</key>
	<integer>1</integer>
	<key>archiveType_OneTime</key>
	<integer>1</integer>
	<key>blockMode_sitx</key>
	<true/>
	<key>compressAsIndividuals</key>
	<false/>
	<key>compressionLevel_bz2</key>
	<integer>1</integer>
	<key>compressionLevel_compress</key>
	<integer>1</integer>
	<key>compressionLevel_gz</key>
	<integer>1</integer>
	<key>compressionLevel_zip</key>
	<integer>6</integer>
	<key>compressionMethod_sit5</key>
	<integer>1</integer>
	<key>compressionMethod_sitx</key>
	<integer>5</integer>
	<key>compressionMethod_zip</key>
	<integer>1</integer>
	<key>deleteOriginals</key>
	<false/>
	<key>destinationChoice</key>
	<integer>0</integer>
	<key>destinationType</key>
	<integer>0</integer>
	<key>destinationType_OneTime</key>
	<integer>0</integer>
	<key>dontRecompress</key>
	<true/>
	<key>encodeArchives</key>
	<false/>
	<key>encodingLevel_sitx</key>
	<integer>0</integer>
	<key>encryptionMethod_sitx</key>
	<integer>0</integer>
	<key>ftpPath</key>
	<string></string>
	<key>ftpServer</key>
	<string></string>
	<key>ftpUsername</key>
	<string></string>
	<key>ignoreDesktopFiles</key>
	<true/>
	<key>optimizers_sitx</key>
	<integer>0</integer>
	<key>prefsVersion</key>
	<integer>10</integer>
	<key>redundancyLevel_sitx</key>
	<integer>0</integer>
	<key>segmentSize</key>
	<real>0.0</real>
	<key>segmentSize_OneTime</key>
	<integer>0</integer>
	<key>showDragWindowOnStartup</key>
	<true/>
	<key>simplifyEncodingExtension</key>
	<false/>
	<key>sitxCreateIndex</key>
	<true/>
	<key>sitx_recompressZip</key>
	<true/>
	<key>sitx_recompressMP3</key>
	<false/>
	<key>sitx_recompressBMP</key>
	<false/>
	<key>sitx_recompressGIF</key>
	<false/>
	<key>sitx_recompressPNG</key>
	<false/>
	<key>sitx_recompressTIFF</key>
	<false/>
	<key>sitx_recompressPDF</key>
	<false/>
	<key>sitx_recompressJPEGLossless</key>
	<false/>
	<key>sitx_recompressPSD</key>
	<false/>
	<key>sitx_recompressPICT</key>
	<false/>
	<key>sitx_recompressJPEG2K</key>
	<false/>
	<key>sitx_recompressPTT5</key>
	<false/>
	<key>sitx_recompressPXM</key>
	<false/>
	<key>sitx_OverrideArchiveVersion</key>
	<false/>
	<key>sitx_ArchiveVersion</key>
	<integer>0</integer>
	<key>stuffitCompressJPEG</key>
	<integer>5</integer>
	<key>stuffitCompressJPEGLevel</key>
	<integer>2</integer>
	<key>stuffitCompressionLevel</key>
	<integer>0</integer>
	<key>stuffitCompressionMethod</key>
	<integer>1000</integer>
	<key>stuffitEncryptWithPassword</key>
	<false/>
	<key>stuffitEncryptWithPassword_OneTime</key>
	<false/>
	<key>stuffitMakeSelfExtracting</key>
	<false/>
	<key>stuffitSegmentArchives</key>
	<false/>
	<key>stuffitSelfExtractingPlatform</key>
	<integer>0</integer>
	<key>stuffitUseThumbnails</key>
	<true/>
	<key>tarCompressionMethod</key>
	<integer>1000</integer>
	<key>tarCompressionType</key>
	<integer>3</integer>
	<key>tarCompressionType_OneTime</key>
	<integer>3</integer>
	<key>tarEncodeContent</key>
	<true/>
	<key>tempFilesLocation</key>
	<data>
	</data>
	<key>wholeArchiveEncryption</key>
	<false/>
	<key>zipCompressionMethod</key>
	<integer>1000</integer>
	<key>zipEncodeContent</key>
	<true/>
	<key>zipEncryptWithPassword</key>
	<false/>
	<key>zipEncryptWithPassword_OneTime</key>
	<false/>
</dict>
</plist>
