<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildNumber</key>
	<string>245</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sitx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sitx</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-stuffitx</string>
				<string>application/x-sitx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>StuffIt X Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SITX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>StuffItDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sidx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sidx</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-stuffitx-index</string>
				<string>application/x-sitx-index</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>StuffIt X Archive Index</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SIDX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>StuffItDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sit</string>
				<string>sea</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sit</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-stuffit</string>
				<string>application/x-sit</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>StuffIt Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SIT5</string>
				<string>SITD</string>
				<string>SIT2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>StuffItDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>cbz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>zip</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
				<string>application/x-zip</string>
				<string>application/x-zip-compressed</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Zip Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ZIP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>StuffItDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
				<string>gtar</string>
				<string>gnutar</string>
				<string>ustar</string>
				<string>tbz</string>
				<string>tbz2</string>
				<string>tgz</string>
				<string>tar-gz</string>
				<string>taz</string>
				<string>tar-z</string>
				<string>cbt</string>
				<string>tz</string>
				<string>tar.Z</string>
				<string>tar.gz</string>
				<string>tar.bz2</string>
				<string>tar.bz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tar</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/tar</string>
				<string>application/x-tar</string>
				<string>application/x-gtar</string>
				<string>application/gnutar</string>
				<string>application/x-ustar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TAR Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TARF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>StuffItDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bz2</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/bzip2</string>
				<string>application/x-bzip2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BZip Compressed File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Bzp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>StuffItDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gz</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/gzip</string>
				<string>application/x-gzip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GZip Compressed File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Gzip</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>StuffItDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Z</string>
				<string>z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>z</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-compress</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Unix Compressed File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ZIVU</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>StuffItDoc</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>cbr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rar</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-rar</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RAR Archive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RARf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>StuffItDoc</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>StuffIt Archive Manager</string>
	<key>CFBundleGetInfoString</key>
	<string>12.0.1 (Build 245), Copyright 1990-2007 Smith Micro Software, Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>StuffIt Archive Manager Help</string>
	<key>CFBundleHelpBookName</key>
	<string>StuffIt Archive Manager Help</string>
	<key>CFBundleIconFile</key>
	<string>app</string>
	<key>CFBundleIdentifier</key>
	<string>com.stuffit.ArchiveManager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>12.0.1 (Build 245), Copyright 1990-2007 Smith Micro Software, Inc.</string>
	<key>CFBundleName</key>
	<string>StuffIt Archive Manager</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>12.0.1</string>
	<key>CFBundleSignature</key>
	<string>SIT!</string>
	<key>CFBundleVersion</key>
	<string>12.0.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 1990-2007 Smith Micro Software, Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>myApp</string>
	<key>ProductCode</key>
	<string>DLX</string>
</dict>
</plist>
