<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blockMode_sitx</key>
	<true/>
	<key>compressDestChoice</key>
	<integer>0</integer>
	<key>compressionLevel_bz2</key>
	<integer>4</integer>
	<key>compressionLevel_compress</key>
	<integer>4</integer>
	<key>compressionLevel_gz</key>
	<integer>15</integer>
	<key>compressionLevel_zip</key>
	<integer>6</integer>
	<key>compressionMethod_sitx</key>
	<integer>5</integer>
	<key>compressionMethod_zip</key>
	<integer>1</integer>
	<key>continueToExpand</key>
	<true/>
	<key>createIndexArchives</key>
	<false/>
	<key>createSurroundingFolder</key>
	<integer>1</integer>
	<key>deleteArchives</key>
	<false/>
	<key>deleteOriginals</key>
	<false/>
	<key>dontRecompress</key>
	<true/>
	<key>dropboxesMenuShow</key>
	<true/>
	<key>encodeMenuShowAppleSingle</key>
	<true/>
	<key>encodeMenuShowBZip</key>
	<true/>
	<key>encodeMenuShowBinHex</key>
	<true/>
	<key>encodeMenuShowGZip</key>
	<true/>
	<key>encodeMenuShowLHa</key>
	<true/>
	<key>encodeMenuShowMacBinary</key>
	<true/>
	<key>encodeMenuShowTar</key>
	<true/>
	<key>encodeMenuShowUU</key>
	<true/>
	<key>encodeMenuShowUnixCompress</key>
	<true/>
	<key>encodeMenuShowZip</key>
	<true/>
	<key>encodingLevel_sitx</key>
	<integer>0</integer>
	<key>encryptionMethod_sitx</key>
	<integer>0</integer>
	<key>expandDestChoice</key>
	<integer>0</integer>
	<key>ignoreDesktopFiles</key>
	<true/>
	<key>launchMenuShow</key>
	<true/>
	<key>magicMenuCommandKeys</key>
	<true/>
	<key>mountDiskImages</key>
	<true/>
	<key>optimizers_sitx</key>
	<false/>
	<key>redundancyLevel_sitx</key>
	<integer>0</integer>
	<key>scanForViruses</key>
	<false/>
	<key>segmentSize</key>
	<integer>0</integer>
	<key>setExecutePermissions</key>
	<true/>
	<key>sitx_recompressBMP</key>
	<false/>
	<key>sitx_recompressGIF</key>
	<false/>
	<key>sitx_recompressJPEG2K</key>
	<false/>
	<key>sitx_recompressJPEGLossless</key>
	<false/>
	<key>sitx_recompressMP3</key>
	<false/>
	<key>sitx_recompressPDF</key>
	<false/>
	<key>sitx_recompressPICT</key>
	<false/>
	<key>sitx_recompressPNG</key>
	<false/>
	<key>sitx_recompressPSD</key>
	<false/>
	<key>sitx_recompressPTT5</key>
	<false/>
	<key>sitx_recompressPXM</key>
	<false/>
	<key>sitx_recompressTIFF</key>
	<false/>
	<key>sitx_recompressZip</key>
	<true/>
	<key>stuffAndMailUsing</key>
	<integer>1</integer>
	<key>stuffItCompressionLevel</key>
	<integer>0</integer>
	<key>stuffItCreateIndexArchives</key>
	<true/>
	<key>stuffItEncryptWithPassword</key>
	<false/>
	<key>stuffItMenuShowExpand</key>
	<true/>
	<key>stuffItMenuShowJoin</key>
	<true/>
	<key>stuffItMenuShowLegacy</key>
	<true/>
	<key>stuffItMenuShowMail</key>
	<true/>
	<key>stuffItMenuShowMakeSEA</key>
	<true/>
	<key>stuffItMenuShowMount</key>
	<true/>
	<key>stuffItMenuShowRemoveCompression</key>
	<true/>
	<key>stuffItMenuShowRemoveEncoding</key>
	<true/>
	<key>stuffItMenuShowRemoveSEA</key>
	<true/>
	<key>stuffItMenuShowOpenInArchiveManager</key>
	<true/>
	<key>stuffItMenuShowSegment</key>
	<true/>
	<key>stuffItMenuShowStuff</key>
	<true/>
	<key>stuffItMenuShowStuffSit</key>
	<true/>
	<key>stuffItMenuShowStuffSitX</key>
	<true/>
	<key>stuffItMenuShowVerify</key>
	<true/>
	<key>stuffitCompressJPEG</key>
	<true/>
	<key>stuffitUseThumbnails</key>
	<true/>
	<key>stuffItMenuShowStuffAndEncrypt</key>
	<true/>
	<key>tarCompressionLevel</key>
	<integer>0</integer>
	<key>tarCompressionType</key>
	<integer>3</integer>
	<key>tarEncodeContent</key>
	<true/>
	<key>zipCompressionLevel</key>
	<integer>0</integer>
	<key>zipEncodeContent</key>
	<true/>
	<key>zipEncryptWithPassword</key>
	<false/>
	<key>lastSelectedCompressionTab</key>
	<integer>0</integer>
	<key>createIndividualArchives</key>
	<false/>
</dict>
</plist>
